* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root {
    --blue: #0079ff;
    --grey: #697c9a;
    --blue-grey: #4b6a9b;
    --light-grey: #f6f8ff;
    --black-lm: #2b3442;
    --white-lm: #fefefe;

    /* DARK MODE */

    --white-dm: #ffffff;
    --dark-blue: #141d2f;
    --navy-blue: #1e2a47;
} 

h1 {
    font-size: 26px;
    line-height: 38px;
}

h2 {
    font-size: 22px;
    line-height: 33px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 13px;
    line-height: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    line-height: 25px;
    background-color: var(--light-grey);
}

img {
    height: 100px;
    width: 100px;
    margin: 60px 25px 0px;
    border-radius: 50px;
}

.placeholder-text::placeholder {
    color: #ffffff;
}

.page-header {
    width: min(85vw, 900px);
    margin: 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dark-mode {
    display: flex;
    letter-spacing: 4px;
}

.dark-mode h3 {
    padding-right: 15px;
}

.dark-mode svg {
    display: flex;
    align-items: center;
}

.dark-mode:hover {
    cursor: pointer;
    color: var(--blue-grey);
}

.light-icon {
    visibility: hidden;
    position: relative;
    right: 21px;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    width: min(85vw, 900px);
    height: 55px;
    background-color: var(--white-lm);
    margin: 0px 0px 40px;
    border-radius: 20px;
    box-shadow: 0px 7px 15px var(--grey);
}

.searchbar-container svg {
    margin: 15px 10px;
}

.search-widget input {
    height: 100%;
    width: min(55vw, 700px);
    display: flex;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.error {
    padding-bottom: 30px;
    font-size: 18px;
    color: red;
    visibility: hidden;
}

.search-button {
    width: 100px;
    color: var(--white-dm);
    font-weight: 700;
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    margin: 7px 10px;
}

.search-button:hover {
    cursor: pointer;
}

.result-interface {
    height: max(70vh, 550px);
    width: min(85vw, 900px);
    display: flex;
    flex-direction: column;
    background-color: var(--white-lm);
    box-shadow: 0px 7px 15px var(--grey);
    border-radius: 20px;
}

.interface-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px 15px
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-names {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.username:visited {
    color: #06b6fc
}

.join-date {
    color: var(--blue-grey);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
    margin: 0px 20px 10px 0px;
}

.join-date span {
    padding-left: 10px;
}

.join-date-mobile {
    display: none;
}

.profile-description {
    font-size: 14px;
    margin: 0px 0px 45px 165px;
    width: 75%;
    color: var(--blue-grey);
}

.profile-stats {
    width: min(75%, 600px);
    display: flex;
    justify-content: space-evenly;
    margin: 0px 40px 35px 165px;
    padding: 25px 0px;
    border-radius: 10px;
    background-color: var(--light-grey);
    text-align: center;
}

.profile-stats h4 {
    color: var(--grey);
}

.profile-contacts {
    height: 130px;
    width: min(75%, 450px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 0px 0px 165px;
}

.contacts-col-one,
.contacts-col-two {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.location,
.twitter,
.website,
.company {
    display: flex;
    align-items: center;
}

.location h3,
.twitter h3,
.website h3,
.company h3{
    color: var(--blue-grey);
    font-weight: 500;
    padding: 5px 0px 5px 15px;
}

.location h3 {
    padding-left: 20px;
}

/* Media Queries */

@media (max-width: 800px) {

    .search-widget input {
        font-size: 14px;
    }

    .interface-header {
        justify-content: flex-start;
        margin-top: 5px;
        padding-bottom: 10px;
    }

    .profile-names a {
        padding-bottom: 5px;
    }

    .join-date {
       display: none;
    }

    .join-date-mobile {
        display: flex;
        color: var(--blue-grey);
        font-weight: 500;
    }

    .profile-description {
        font-size: 13px;
        padding-bottom: 15px;
    }

    .profile-description,
    .profile-stats {
        margin: auto;
        width: min(80%, 600px)
    }

    .profile-stats h2 {
        font-size: 18px;
    }

    .profile-contacts {
        margin: auto;
    }

    .contacts-col-two {
        padding-right: 80px;
    }

    .location h3,
    .twitter h3,
    .website h3,
    .company h3 {
       font-size: 12px; 
    }

    .location h3 {
        padding-left: 20px;
    }

}

@media (max-width: 425px) {


    h1 {
        font-size: 14px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 10px;
    }

    h4 {
        font-size: 8px;
    }

    img {
        height: 70px;
        width: 70px;
        margin: 15px 5px 0px;
    }

    .page-header {
        margin-bottom: 20px;
    }

    .page-title {
        font-size: 18px;
    }

    .error {
        font-size: 12px;
    }

    .interface-header {
        margin: 0px 15px 5px;
        padding-bottom: 0px;
    }

    .searchbar-container {
        height: 50px;
        margin-bottom: 20px;
    }

    .search-widget input {
        width: min(45vw, 700px);
        font-size: min(3vw, 10px);
        padding-left: 0px;
    }

    .search-button {
        height: 40px;
        width: 80px;
        margin: auto;
        font-size: 12px;
    }

    .result-interface {
        height: max(50vh, 450px);
    }

    .profile-names {
        height: 50px;
    } 

    .profile-names a {
        padding-bottom: 0px;
    }

    .full-name {
        line-height: 18px;
    }

    .join-date-mobile {
        margin-bottom: 5px;
        line-height: 18px;
    }


    .profile-description {
        font-size: 10px;
        line-height: 18px;
        padding-bottom: 0px;
    }

    .profile-stats {
        padding: 0px;
    }

    .profile-stats h2 {
        font-size: 14px;
    }

    .profile-contacts {
        flex-direction: column;
        align-items: flex-start;
    }

    
    .contacts-col-two {
        margin-bottom: 17px;
    }

    .location h3 {
        font-size: 10px;
        padding-left: 15px;
    }

    .twitter h3,
    .website h3 {
       font-size: 10px;
       padding-left: 10px; 
    }

    .company h3 {
        font-size: 10px;
        padding-left: 11px;
    }
}

@media (max-width: 330px) {

    .error {
        font-size: 10px;
    }
    
    .searchbar-container svg {
        margin: auto; 
    }

    .search-button {
        height: 30px;
        width: 60px;
        margin: auto;
        font-size: 10px;
    }

    .username {
        font-size: 10px;
    }

    .join-date-mobile {
        font-size: 10px;
    }

    .profile-description {
        font-size: 8px;
    }

    .location h3,
    .twitter h3,
    .website h3,
    .company h3 {
        font-size: 7px;
    }
}