* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root {
    --blue: #0079ff;
    --grey: #697c9a;
    --blue-grey: #4b6a9b;
    --light-grey: #f6f8ff;
    --black-lm: #2b3442;
    --white-lm: #fefefe;

    /* DARK MODE */

    --white-dm: #ffffff;
    --black-dm: #141d2f;
    --navy-blue: #1e2a47;
} 

/* 22 18 12 11 */

h1 {
    font-size: 26px;
    line-height: 38px;
}

h2 {
    font-size: 22px;
    line-height: 33px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

h4 {
    font-size: 13px;
    line-height: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 25px;
    background-color: var(--light-grey);
}

img {
    height: 100px;
    width: 100px;
    margin: 20px 25px 0px;
    border-radius: 50px;
}

.page-header {
    width: min(85vw, 900px);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.dark-mode,
.light-mode {
    display: flex;
    letter-spacing: 4px;
}

.dark-mode h3,
.light-mode h3 {
    padding-right: 15px;
}

.light-mode svg,
.dark-mode svg {
    display: flex;
    align-items: center;
}

.dark-mode:hover,
.light-mode:hover {
    cursor: pointer;
    color: var(--blue-grey);
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    width: min(85vw, 900px);
    height: 55px;
    background-color: var(--white-lm);
    margin: 0px 0px 40px;
    border-radius: 20px;
    box-shadow: 0px 7px 15px var(--grey);
}

.searchbar-container svg {
    margin: 15px 10px;
    
}

.search-widget input {
    height: 100%;
    width: min(55vw, 700px);
    display: flex;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.search-button {
    width: 100px;
    color: var(--white-dm);
    font-weight: 700;
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    margin: 7px 10px;
}

.search-button:hover {
    cursor: pointer;
}

.result-interface {
    height: max(50vh, 550px);
    width: min(85vw, 900px);
    display: flex;
    flex-direction: column;
    background-color: var(--white-lm);
    box-shadow: 0px 7px 15px var(--grey);
    border-radius: 20px;
}

.interface-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 15px 15px
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-names {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.join-date {
    color: var(--grey);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
    margin: 0px 20px 10px 0px;
}

.join-date span {
    padding-left: 10px;
}

.join-date-mobile {
    display: none;
}

.profile-description {
    margin: 0px 0px 45px 165px;
    width: 75%;
    color: var(--grey);
}

.profile-stats {
    width: min(75%, 600px);
    display: flex;
    justify-content: space-evenly;
    margin: 0px 40px 15px 165px;
    padding: 25px 0px;
    border-radius: 10px;
    background-color: var(--light-grey);
}

.profile-stats h4 {
    color: var(--grey);
}

.profile-contacts {
    height: 130px;
    width: min(75%, 450px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 165px;
}

.contacts-col-one,
.contacts-col-two {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.location,
.twitter,
.website,
.company {
    display: flex;
    align-items: center;
}

.location h3,
.twitter h3,
.website h3,
.company h3{
    color: var(--grey);
    font-weight: 500;
    padding-left: 15px;
}

/* Media Queries */

@media (max-width: 800px) {


    .interface-header {
        justify-content: flex-start;
        padding-bottom: 10px;
    }

    .profile-names a {
        padding-bottom: 5px;
    }

    .join-date {
       display: none;
    }

    .join-date-mobile {
        display: flex;
        color: var(--grey);
        font-weight: 500;
    }

    .join-date-mobile span {
        padding-left: 10px;
    }

    .profile-description {
        font-size: 14px;
        padding-bottom: 30px;
    }

    .profile-description,
    .profile-stats {
        margin: auto;
        width: min(80%, 600px)
    }

    .profile-stats h2 {
        font-size: 18px;
    }

    .profile-contacts {
        margin: auto;
    }

    .contacts-col-two {
        padding-right: 80px;
    }
    
}

@media (max-width: 425px) {

}